@charset "utf-8";
/* CSS Document */

@media (min-width:1300px){
.inr_container.top {
/*width: auto;
*/}
.rigt_cnt_area > img {
    width: 340px;
}
}
@media (min-width:1200px) and (max-width:1300px){
.container {width:1180px;}
.list_type_menu li a{padding: 28px 10px 29px;}
.win_img{padding-left:5px;}
.coming_soon_text{margin-left:10px;}
.button_see_our, .search_by_meal_button{width:333px;font-size:22px;}
.chicken_fun_img {width:52%;margin-top:10px;}
.chicken_fun_img img {width:100%;}
.search_hole_2 .search_2 {width:195px;}
.newsletter_signup_bottom .News_search, .newsletter_signup_bottom .News_search_2 {width:222px;}
.fox_river_farm_top_bg {height:auto;}
ul.list_type_menu_social li{padding:0 0 10px;}

}

@media (min-width:992px) and (max-width:1199px){
.list_type_menu li a {font-size: 13px;padding: 30px 6px 29px;}
.list_type_menu_social > li {margin-right: 1%;width: 24%;}
.list_type_menu_social > li img {width:100%;}
.search_hole_2 .search_2 {width:145px;}
.newsletter_signup_bottom .News_search, .newsletter_signup_bottom .News_search_2 {width:175px;}
.win_img {float: left;padding-left: 5px;padding-top: 5px;width: 40%;}
.win_img img {width:100%;}
.coming_soon_text {float: right;margin: 3px 0;width: 55%;}
.chicken_fun_img {margin-top: 30px;width: 50%;}
.chicken_fun_img img{width: 100%;}
.chiken_fun_text {margin-right: 7px;}
.copy_text, .footer_right_text {margin-left:0px;}
.button_see_our, .search_by_meal_button{font-size: 18px;width: 256px;}
.premium_text h6, .delicous_recipes_div > p {font-size:20px;font-weight:500;}
.fox_river_farm_top_bg{height:auto;}
.fox_aerrow{background:url("../images/fox_down_aerrow.png") no-repeat scroll center 0 rgba(0, 0, 0, 0);}
.why_mt_parker_text {font-size:18px;line-height:25px;}
.fox_inner_text {font-size: 15px;line-height: 20px;padding-left: 10px;padding-right: 10px;text-align: left;}
.where_to_buy_top_bg {font-size:20px;}
}

@media (min-width:768px) and (max-width:991px){
.inr_container{padding-top: 12px;}
.logo {left: -10px;width: 170px;}
.list_type_menu_social > li {margin-right: 1%;width: 24%;}
.list_type_menu_social > li img {width:100%;}
.list_type_menu.col-sm-8 {width: 100%;}
.search_hole {margin-top: 25px;}
.list_type_menu li a{padding:28px 8px 29px;}
.inr_container {background:none;}
.page_content{margin-top:15px;}
ul.list_type_menu_social {margin-top:20px;}
.inner_pg_dv{padding-top:20px;}
.where_to_buy_top_bg {font-size:15px;}
.text, .text_2 {font-size: 12px;margin: 8px 10px;text-align: justify;}
.search_hole_2 .search_2 { margin-left: 5px;width: 110px;}
.newsletter_signup_bottom .News_search, .newsletter_signup_bottom .News_search_2 {width:92%;margin:5px 3%;padding:0 1%;}
.premium_text {margin-left:10px;}
.premium_text h6 {font-size:15px;}
.packaging_img{width:auto;}
.packaging_img img {width:100%;}
.button_see_our, .search_by_meal_button{width:176px;font-size:12px;}
.delicous_recipes_div > p {height:228px;}
.our_products_text h2, .delicous_recipes_text h2{font-size:26px;}
.newslette_top, .your_questions_top, .fox_river_farm_top {margin-top:10px;}
.text_cheak_out {padding-top:140px;}
.why_mt_parker_text h3 {font-size: 16px;font-weight: bold;}
.why_mt_parker_text {font-size: 17px;line-height: 26px;}
.up_side_text_of_couple {margin-right: 0;width: 72%;margin-top: 260px;}
.fox_river_farm_top_bg{height:auto;}
.fox_aerrow{background:url("../images/fox_down_aerrow.png") no-repeat scroll center 0 rgba(0, 0, 0, 0);}
.couple_img_div{background:url("../images/couple.png") no-repeat scroll 0 0 / 100% auto rgba(0, 0, 0, 0);}
.fox_river_logo > img {width: 100%;}
.completitions_top_text_bg > h2 {font-size: 25px;}
.fox_inner_text {font-size: 15px;padding-left: 5px;padding-right: 5px;text-align: left;}
.chicken_fun_img > img {width: 100%;}
.copy_text {width: 34%;}
.copy_text a {margin:0 5px;}
.coming_soon_text{margin-left:0;}
.chiken_fun_text{margin-right:0;float:left;}
}

@media (max-width:767px){
.header_menu {display: none;}
.inr_container{background:none;}
.logo {
    left: -10px;
    width: 170px;
}
.inr_container {
    padding-top: 12px;
}
.container{width:auto;}
.search_hole {
    margin-top: 25px;
}
.page_content{margin-top:10px;}
.inner_pg_dv {
    margin-left:0px;
    padding: 15px 0 0;
}
.packaging_img{width:auto;}
.packaging_img img {width:100%;}
.premium_text{margin-left:0;}
.our_products_text h2, .delicous_recipes_text h2{font-size:22px;}
.footer_div{height:auto;position:relative;}
.footer_logo {
    float: none;
    margin: 0 auto;
    width: 189px;
}
.copy_text {
    margin-left: 0;
    width: 100%;
}
.footer_right_text{
 margin-left: 0;
    width: 100%;
	}
.copy_text a, .footer_right_text > a {
    display: block;
    text-align: center;
	border-right:0;
}
.footer_top_margin {
    padding-bottom: 15px;
}
.search_hole .search{width:220px;}
.button_see_our, .search_by_meal_button{width:auto;font-size:12px;}
.search_txt, .see_our_bt_area {
    margin: 0 auto;
    width: 194px;
}
.premium_text h6 {
    margin: 0;
}
.button_see_our, .button_see_our_aerrow{margin:0;}
.couple_img_div.col-sm-6.pull-left {
    float: none !important;
    margin: 50px auto 0;
    width: 100%;
}
.why_mt_parker_text.col-sm-6.pull-right {
    float: none !important;
    margin: 0 auto;
    text-align: justify;
    width:100%;
}
.couple_img_div {background:url("../images/couple.png") no-repeat scroll center 0 rgba(0, 0, 0, 0);}
.why_mt_parker_text h3 {font-size:30px;}
.completitions_div.col-sm-6, .chicken_fun.col-sm-6 {
    margin: 0;
	height:auto;
	text-align:center;
    width: 49%;
}
.chiken_fun_bottom_bg{height:278px;}
.fox_aerrow {
    background: url("../images/fox_down_aerrow.png") no-repeat scroll center 0 rgba(0, 0, 0, 0);
}
.fox_bottom_img {
    background: url("../images/fox_bg.png") no-repeat scroll center 0 #e5dfd7;
}
.packaging_img {
    margin-bottom: 15px;
    width: 80%;
}
ul.list_type_menu_social {
    list-style: outside none none;
    margin: 30px auto 0;
    width: 280px;
}
.your_questions_bottom_bg {
    background: url("../images/your_questions_img.png") no-repeat scroll center 0 rgba(0, 0, 0, 0);
    text-align: center;
}
.win_img, .chicken_fun_img{float:none;}
.competitions_bottom_bg{height:auto;}
.coming_soon_text, .chiken_fun_text {
    float: none;
    margin: 15px auto;
	width:auto;
}
 .chiken_fun_text{padding-top:10px;}
 .chicken_fun_img > img, .win_img > img {
    max-width: 100%;
}
.footer_chicken_img{width:auto;display:none;}
.footer_top_margin {
    margin-top: 15px;
}
}

@media (max-width:480px){
ul.list_type_menu_social {margin-top:0;}
.logo {
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
}
.search_hole {
    float: none !important;
    margin: 115px auto 24px;
    width: 241px;
}
.full_bg, .inr_container.top {height:auto;padding-bottom: 10px;}
.search_hole .search {width:205px;}
.our_products_div.col-sm-6, .delicous_recipes_div.col-sm-6{width:100%;}
.search_txt, .see_our_bt_area {
    width: 225px;
}
.button_see_our, .search_by_meal_button {
    font-size: 12px;
    padding: 0 12px;
    width: 190px;
}
.completitions_div.col-sm-6, .chicken_fun.col-sm-6 {
    height: auto;
    margin: 0;
    padding: 0;
    text-align: center;
    width: 100%;
}
.couple_img_div {
    background:url("../images/couple.png") no-repeat scroll -110px 0 rgba(0, 0, 0, 0);
}
.page_content .col-sm-3 {
    margin: 0;
    padding: 0;
    width:100%;
}
.fox_river_farm_top_bg{font-size:18px;}
.our_products_div.col-sm-6 {
    min-height: 390px;
}
}