@charset "utf-8";/* CSS Document */

@font-face {
    font-family: 'gotham_bookregular';
    src: url('fonts/ufonts.com_gotham-book-webfont.eot');
    src: url('fonts/ufonts.com_gotham-book-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/ufonts.com_gotham-book-webfont.woff2') format('woff2'),
         url('fonts/ufonts.com_gotham-book-webfont.woff') format('woff'),
         url('fonts/ufonts.com_gotham-book-webfont.ttf') format('truetype'),
         url('fonts/ufonts.com_gotham-book-webfont.svg#gotham_bookregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

*
{
	margin:0;
	padding:0;	
}

body 	
{ font-family: 'gotham_bookregular';
  	margin:0 ;
  	padding:0;
	background:url(../images/full_bg.png);
}

.wrapper { 
  	margin:0 ;
  	padding:0;
}
.clear
{
	clear:both;
}
.full_bg
{	
	width:100%;
	background-color:#a3bd35;
}

.inr_container
{
    background:url("../images/sunrise.png") no-repeat scroll -190px 0 rgba(0, 0, 0, 0);
    margin: 0 auto;
    padding-top: 43px;
    width: 100%;
}
.inr_container.top 
{
    height:114px;
}
.header_menu
{	
	
	background-color:#00784a;
	height:77px;
	
}
.list_type_menu {
    float: right;
    list-style: outside none none;
    margin: 0;
}
a.list_type_menu
{	
	display:block;
}

.list_type_menu li a {
    color: rgba(255, 255, 255, 1);
    display: block;
    float:left;
    font-size: 15px;
    font-weight: bold;
    padding: 28px 15px 29px;
    text-decoration: none;
}
.list_type_menu li a:hover, .list_type_menu li a.active {
    background: none repeat scroll 0 0 #ffc000;
    color: #00784a;
}



.logo {
    float: left;
    position: absolute;
}
.float_r
{
	float:right;
}
.search_hole .search 
{
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-bottom: medium none;
    border-image: none;
    border-left: medium none;
    border-radius: 0;
    border-top: medium none;
    float: left;
    font-size: 15px;
    height: 30px;
    margin-right: 3px;
    width: 250px;
	line-height:30px;
	margin-top:1px;
}
.search_hole .search_button
{
		border:none;
		background:url(../images/search_icon.png) center center no-repeat #00784a;
		height:32px;
		width:30px;
		float:left;
}
.search_hole .search_button:hover
{
		border:none;
		background:url(../images/search_icon.png) center center no-repeat #060606;
		height:32px;
		width:30px;
		float:left;
}

.header
{
    margin: 0 auto;
    width: 94%;
	position: relative;
}
.inner_wrap
{	
	width:1252px;
	margin:85px auto 0;
	background-color:rgba(255,255,255,1.00);
	padding-bottom:38px;
}
.page_content {
    background: none repeat scroll 0 0 white;
    margin-top: 55px;
	padding-bottom: 15px;
}
.inner_pg_dv
{	
	float:left;
	margin-left:20px;
	padding-top:41px;	
}
.our_products_div.col-sm-6, .delicous_recipes_div.col-sm-6 {
    width: 49%;
}
.right_div {
    float: right;
    margin-right: 25px;
}
ul.list_type_menu_social li
{
	float:left;
	padding: 0 3px 10px 3px;
}
ul.list_type_menu_social
{
	list-style:none;
	margin:0;
	margin-top:-27px;
}
.where_to_buy_top
{
	background:#00784a;
	height:3px;
}
.where_to_buy_top_bg {
    background-color: #00784a;
    color: white;
    font-size: 28px;
    height: 56px;
    line-height: 56px;
    margin-top: 3px;
	text-transform: capitalize;
    text-align: center;
}

.where_to_buy_top_bg a
{
	line-height:49px;
	background-color:#00784a;
	height:56px;
	margin-top:3px;
	text-align:center;
	text-decoration:none;
}
.where_to_buy_top_bg a:hover
{
	line-height:49px;
	color:#FFFFFF;
	height:56px;
	margin-top:3px;
	text-align:center;
	text-decoration:none;
}
.where_to_buy_top_bg a
{
	color:#FFFFFF;
}
.where_to_buy_bottom
{	
	background-color:#f7f3ed;
}
.search_hole_2 .search_2
{	
	border:0px;
	border-radius:0px;
	height:28px;
	padding:0 0 0 0;
	margin-left:17px;
	float:left;
	margin-top:14px;
	width:222px;
}
.search_hole_2 .search_button_2
{	
	background:url(../images/search_icon.png) center center no-repeat #00784a;
	height:28px;
	width:26px;
	border:none;
	float:left;
	margin-top:14px;
	margin-left:2px;
}

.search_hole_2 .search_button_2:hover
{	
	background:url(../images/search_icon.png) center center no-repeat #000000;
	height:28px;
	width:26px;
	border:none;
	float:left;
	margin-top:14px;
}
.text {
    color: #000000;
    font-size: 17px;
    margin-left: 24px;
    margin-right: 24px;
    margin-top: 8px;
}
.text_2
{
    color: #000000;
    font-size: 17px;
    margin-top: 8px;
}
.text a:hover
{
	color:rgba(0,0,0,1.00);
	text-decoration:none;
}

.newslette_top
{
	margin-top:33px;
}
.newsletter_signup_bottom
{	
	background-color:#f7f3ed;
}
.newsletter_signup_bottom .News_search
{
	border-radius:0px;
	padding:0 0 0 0;
	width:252px;
	height:31px;
	margin-left:15px;
	margin-top:12px;	
	margin-bottom:0px;
	border:none;
}
.newsletter_signup_bottom .News_search_2
{
	border-radius:0px;
	padding:0 0 0 0;
	width:252px;
	height:31px;
	margin-left:15px;
	margin-top:9px;	
	border:none;
}

.your_questions_top
{
	margin-top:36px;	
}
.your_questions_bottom_bg
{
	background:url(../images/your_questions_img.png)0 0 no-repeat;
	height:238px;	
}
.text_cheak_out {
    color: black;
    font-size: 17px;
    padding-left: 20px;
    padding-top: 178px;
}
.text_cheak_out a
{
	color:#000000;
	text-decoration:none;
}
.text_cheak_out a:hover
{
	color:#000000;
	text-decoration:none;
}
.fox_river_farm_top
{
	margin-top:34px;	
}
.fox_river_farm_top_bg {
    background-color: #00784a;
    color: white;
    font-size: 23px;
    height: 61px;
    margin-top: 3px;
    padding-top: 20px;
    text-align: center;
}
.fox_river_farm_top_bg a
{
	color:rgba(255,255,255,1.00);
	text-decoration:none;
}
.fox_river_farm_top_bg a:hover
{
	color:rgba(255,255,255,1.00);
	text-decoration:none;
}
.fox_aerrow
{
	background:url(../images/fox_down_aerrow.png)0 0 no-repeat;
	height:35px;
}
.fox_bottom_img
{
	background:url("../images/fox_bg.png") no-repeat scroll 0 0 #e5dfd7;
}
.fox_inner_text {
    font-size: 17px;
    line-height: 22px;
    padding-left: 27px;
    padding-right: 35px;
    padding-top: 247px;
    text-align: justify;
	color:#000000;
}
.fox_inner_text	a
{
	text-decoration:none;
	font-size:18px;
}
.fox_inner_text	a:hover
{
	text-decoration:none;
}

.green_color {
    clear: both;
    color: #00784a;
    display: block;
	font-weight:bold;
}
.green_color:hover {
    color: #a2bd36;
    text-decoration: none;
}
.fox_river_logo img
{
	display:block;
	margin:0 auto;
	padding:20px 0;
}
.our_products_div
{
	float:left;
	background-color:#f7f3ed;
	height:376px;	
	width:406px;
	margin-top:34px;
}
.our_products_text
{
	padding-top:0;
	text-align:center;
	height:38px;	
}
.our_products_text a
{
	color:#5E3D1E;
	font-size:40px;
}
.our_products_text a:hover
{
	color:#5E3D1E;
	text-decoration:none;
	font-size:40px;
}
.premium_text {
    font-size: 18px;
    margin-left: 37px;
    margin-top: 15px;
}
.premium_text a
{
	color:rgba(0,0,0,1.00);
}
.premium_text a:hover
{
	color:rgba(0,0,0,1.00);
	text-decoration:none;
}
.packaging_img {
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    width: 250px;
}
.button_see_our
{
	background-color:#A2BD36;
	width:366px;
	height:35px;
	float:left;	
	margin-top:23px;
	text-align:center;
	line-height:35px;
}
.button_see_our a
{	
	color:rgba(255,255,255,1.00);	
}
.button_see_our a:hover
{	
	color:rgba(0,118,73,1.00);
	text-decoration:none;
		
}

.button_see_our_aerrow
{
	float:right;
	height:35px;
	width:34px;
	margin-top:23px;
	background:url(../images/aerrow.png)center center no-repeat #007649;
}
.button_see_our_aerrow:hover
{

	background:url(../images/aerrow.png)center center no-repeat #000000;
}
.delicous_recipes_div {
    background: url("../images/delicous_img.png") no-repeat scroll 0 0 / 100% 100% #f7f3ed;
    float: right;
    height: 375px;
    margin-top: 34px;
    width: 410px;
}
.video_img img {
    width: 100%;
}
.delicous_recipes_text
{	
	text-align:center;
	font-size:35px;
}
.delicous_recipes_text a
{	
	color:rgba(94,61,30,1.00);
	text-decoration:none;	
}
.delicous_recipes_text a:hover
{	
	color:rgba(94,61,30,1.00);
	text-decoration:none;	
}
.search_by_meal_button {
    background-color: #a2bd36;
    color: white;
    float: left;
    font-size: 26px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    width: 366px;
}

.search_by_meal_button	a
{
	color:rgba(255,255,255,1.00);
}

.search_by_meal_button	a:hover
{
	color:#007649;
	text-decoration:none;
}

.search_by_meal_button_aerrow
{
	float:right;
	height:36px;
	width:34px;
	background:url(../images/aerrow.png)center center no-repeat #007649;
	cursor:pointer;
}
.search_by_meal_button_aerrow:hover
{

	background:url(../images/aerrow.png)center center no-repeat #000000;
}
.couple_img_div
{
	background:url(../images/couple.png)0 0 no-repeat;
	width:436px;
	height:505px;	
	float:left;
	margin-top:24px;
	margin-left: 0;
}
.why_mt_parker_text {
    color: black;
    float: right;
    font-size: 22px;
    line-height: 36px;
    margin-top: 0px;
    padding: 10px;
    width: 400px;
	margin-left: 0;
}
.font_size
{	
	font-size:30px;
	line-height:45px;
	margin-left:15px;	
	color:rgba(0,118,73,1.00);
}
.font_size:hover
{	
	color:rgba(0,118,73,1.00);
	text-decoration:none;
}
.sub_text
{
	margin-left:15px;
	color:rgba(0,0,0,1.00);
	line-height:31px;
	font-size:15px;
}
.sub_text:hover
{
	margin-left:15px;
	color:rgba(0,0,0,1.00);
	text-decoration:none;
}
.up_side_text_of_couple {
    color: black;
    float: right;
    font-weight: bold;
    margin-top: 440px;
    width: 62%;
	margin-right:10px;
}
.up_side_text_of_couple a
{
	color:rgba(0,0,0,1.00);
	font-size:15px;	
}

.up_side_text_of_couple a:hover
{
	color:rgba(0,0,0,1.00);	
	text-decoration:none;
}
.completitions_div
{
	margin-top:38px;
	float:left;
	height:246px;
	width:401px;
}
.completitions_top_bg
{
	background-color:rgba(0,118,73,1.00);
	height:3px;
}
.completitions_top_text_bg
{
	background-color:#00784a;
	height:55px;
	margin-top:3px;
	text-align:center;
	line-height:55px;
}
.completitions_top_text_bg a
{
	color:rgba(255,255,255,1.00);	
}
.completitions_top_text_bg a:hover
{
	color:rgba(255,255,255,1.00);
	text-decoration:none;	
}
.competitions_bottom_bg
{
	height:184px;	
}
.completitions_div {
    background: none repeat scroll 0 0 #f7f3ed;
}
.win_img
{
	float:left;
	padding-top:5px;
	padding-left:24px;
	
}
.coming_soon_text
{
	float:left;
	margin-left:20px;
	font-size:16px;
	line-height:25px;
	margin-top:25px;
	width: 210px;
}
.coming_soon_text a
{
	color:rgba(0,0,0,1.00);
	text-decoration:none;
}
.coming_soon_text a:hover
{
	color:rgba(0,0,0,1.00);
	text-decoration:none;
}
.chicken_fun
{	
	margin-top:38px;
	float:right;
	height:246px;
	width:413px;	
}
.chiken_fun_bottom_bg
{
	background-color:#F7F3ED;
	height:185px;
}
.chicken_fun_img
{
	padding-top:2px;
	float:left;
}
.chiken_fun_text
{	
	float:right;
	margin-right:21px;
	font-size:18px;
	line-height:30px;
	padding-top:60px;	
}
.chiken_fun_text a
{
	color:rgba(0,0,0,1.00);
}
.chiken_fun_text a:hover
{
	color:rgba(0,0,0,1.00);
	text-decoration:none;
}
.footer_div
{
	background-color: #a3bd35;
	height:158px;
	margin:0 auto;
}
.footer_top_margin
{
	margin-top:151px;
}
.footer_inner_wrapper
{
	margin:0 auto;
	padding-top:25px;
}
.footer_logo
{
	float:left;
}
.footer_chicken_img
{
	background:url(../images/footer_chicken.png)0 0 no-repeat;
	width:631px;
	height:184px;
	margin-top:-146px;	
	margin-left:auto;
}
.copy_text	
{
	float:left;
	padding-top:20px;
	margin-left:35px;
	color:#FFFFFF;
}
.copy_text a {
    border-right: 1px solid;
    color: #ffffff;
    padding: 0 10px;
    text-decoration: none;
}

.copy_text a:hover
{
	text-decoration:none;
	text-decoration:underline;
}
.footer_right_text
{
	float:right;
	padding-top:20px;
	margin-left:35px;	
}

.footer_right_text a {
    border-right: 1px solid;
    color: #fff;
    padding: 0 10px;
}
.copy_text > a:last-child, .footer_right_text > a:last-child {
    border: 0 none;
}
.footer_right_text a:hover
{
	text-decoration:none;	
}


.why_mt_parker_text h3 {
    color: #00784a;
    font-size: 40px;
    margin-bottom: 35px;
}


.our_products_text h2, .delicous_recipes_text h2 {
    color: #5e3d1e;
    font-weight: normal;
    margin: 5px 0 0;
}
.premium_text h6 {
    color: black;
    font-size: 22px;
    font-weight: normal;
}
.button_see_our {
    color: white;
    font-size: 26px;
}
.delicous_recipes_div > p {
    color: black;
    font-size: 22px;
    line-height: 26px;
    margin-left: 10px;
    margin-top: 32px;
	height: 264px;
	margin-bottom:0;
}
.completitions_top_text_bg > h2 {
    color: white;
    line-height: 52px;
    margin: 0;
}
.container {
    margin: 0 auto;
    width: 1252px;
}
body .row {margin-left:0; margin-right:0;}

.list_type_menu {
    float: right;
	position: relative;
}

.submnu {
    background: none repeat scroll 0 0 #ffc000;
    display: none;
    left: 15px;
    list-style: outside none none;
    margin: 0;
    position: absolute;
    top: 77px;
    width: 240px;
	z-index:9;
}
.list_type_menu li:hover .submnu{display:block;}
.list_type_menu li:hover {background:#ffc000;}
.list_type_menu li .submnu li a {
    border-bottom: 1px solid white;
    color: #00784a;
    padding: 10px 10%;
    width: 100%;
}
.list_type_menu li .submnu li a:hover {color:#FFFFFF;}
.list_type_menu > li:hover, .list_type_menu > li:hover > a {
    background: none repeat scroll 0 0 #ffc000;
    color: #00784a;
    float: left;
    display:block;
}
@media (min-width:1300px){
.inr_container.top {
    width: 1320px;
}
}


.logo img {
    width: 100%;
}

.rigt_cnt_area > img {
    width: 100%;
}
h2.inr_title {
    color: #007649;
	font-weight: bold;
}
.list_type_menu_social img:hover {
    opacity: 0.8;
}